<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>潮钱网后台</title>
  <link rel="stylesheet" href="/libs/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">

  <script src="libs/jquery/dist/jquery.js"></script>
  <script src="libs/plupload/js/plupload.full.min.js"></script>
  <script src="libs/qiniu/dist/qiniu.min.js"></script>
  <script src="libs/angular/angular.js"></script>
  <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="libs/angular-aria/angular-aria.min.js"></script>
  <script src="libs/angular-messages/angular-messages.min.js"></script>
  <script src="libs/angular-animate/angular-animate.js"></script>
  <script src="libs/angular-material/angular-material.min.js"></script>

  <link rel="stylesheet" href="/libs/textAngular/dist/textAngular.css">
  <script src="libs/textAngular/dist/textAngular-rangy.min.js"></script>
  <script src="libs/textAngular/dist/textAngular-sanitize.min.js"></script>
  <script src="libs/textAngular/dist/textAngular.min.js"></script>

  <script src="c_backend/site_admin/dist/js/chaoqian.js"></script>
  <link rel="stylesheet" href="/c_backend/site_admin/dist/css/chaoqian.client.style.css">
</head>

<body ng-controller="IndexController" ng-app="chaoQianSite">
  <md-toolbar class="c-tool-bar md-hue-2" md-scroll-shrink="true">
    <div class="md-toolbar-tools">
      <md-truncate>潮钱网管理后台</md-truncate>
      <md-button ng-click="toggleLeft()" class="md-primary">
        菜单
      </md-button>
    </div>
    </section>
  </md-toolbar>

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="3">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">潮钱网管理后台</h1>
      </md-toolbar>
      <md-content>
      </md-content>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('product_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>网贷产品管理录入</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('jietiao_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>借条管理录入</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('card_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>信用卡单卡录入</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('user_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>VIP用户管理列表</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('credit_people_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>信贷专员管理录入</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('filter_edit')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>过滤编辑</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('customer_business_line')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>用户资料及业务线</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('sold_record')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>销售记录</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('postcode_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>还信用卡列表</p>
        </div>
      </md-list-item>
      <div id="qiniu-upload-test-container" style="visibility:hidden;">
        <input type="file" />
      </div>
    </md-sidenav>
  </section>
  <ui-view class="page-ui-view">

  </ui-view>
  <dialog-loading-box></dialog-loading-box>

</body>

</html>