<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">信用卡列表</p>
    <!-- <md-button class="md-primary md-raised md-hue-2" ng-click="goSetting()">设置信用卡</md-button> -->
    <md-button class="md-primary md-raised md-hue-2" ng-click="goDetail()">创建信用卡</md-button>
  </div>

  <div class="list-header">
    <div class="list-item" layout="row" layout-align="start center">
      <div class="column-item" flex="">信用卡logo</div>
      <div class="column-item" flex="">信用卡名称</div>
      <div class="column-item" flex=""></div>
    </div>
  </div>
  <div class="list-body">
    <div class="list-item" layout="row" layout-align="start center" ng-repeat=" card in card_list">
      <div class="column-item" flex="">
        <img ng-src="{{card.logo}}"></img>
      </div>
      <div class="column-item" flex="">{{card.name}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        <md-button class="md-primary" ng-click="goDetail(card._id)">详情
        </md-button>
      </div>
    </div>
  </div>
</div>