<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">信贷专员列表</p>
    <md-button class="md-primary md-raised md-hue-2" ng-click="goDetail()">创建信贷专员</md-button>
  </div>

  <div class="list-header">
    <div class="list-item" layout="row" layout-align="start center">
      <div class="column-item" flex="">头像</div>
      <div class="column-item" flex="">姓名</div>
      <div class="column-item" flex="">电话</div>
      <div class="column-item" flex="">个人信息</div>
      <div class="column-item" flex="">标签</div>
      <div class="column-item" flex=""></div>
    </div>
  </div>
  <div class="list-body">
    <div class="list-item" layout="row" layout-align="start center" ng-repeat=" credit_people in credit_people_list">
      <div class="column-item" flex="">
        <img ng-src="{{credit_people.photo}}"></img>
      </div>
      <div class="column-item" flex="">{{credit_people.name}}</div>
      <div class="column-item" flex="">{{credit_people.phone}}</div>
      <div class="column-item" flex="">{{credit_people.personal_description}}</div>
      <div class="column-item" flex="">{{credit_people.tags}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        <md-button class="md-primary" ng-click="goDetail(credit_people._id)">详情
        </md-button>
      </div>
    </div>
  </div>
</div>