<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <div layout="row">
      <p class="title">产品详情</p>
    </div>
    <div layout="row">
      <md-button class="md-primary md-raised md-hue-2" id="qiniu-upload-test-button">上传照片</md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="updateCreditPeople($event)">保存</md-button>
    </div>
  </div>

  <div class="c-product-detail-view">
    <md-content layout-padding>
      <div layout-gt-sm="row">
        <span>
          <img class="product-detail-logo" ng-src="{{credit_people.photo}}"></img>
        </span>
        <md-input-container class="md-block" flex-gt-sm>
          <label>专员姓名</label>
          <input ng-model="credit_people.name" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>专员手机</label>
          <input ng-model="credit_people.phone" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>专员标签(如：信用贷,社保贷)</label>
          <input ng-model="credit_people.tags" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>从业开始时间（如：2007年）</label>
          <input ng-model="credit_people.job_start_time" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>公司类型（如：小贷公司）</label>
          <input ng-model="credit_people.company_type" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>经度</label>
          <input ng-model="credit_people.location[0]" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>维度</label>
          <input ng-model="credit_people.location[1]" />
        </md-input-container>
      </div>
    </md-content>
  </div>
  <div class="c-product-detail-view">
    <md-content layout-padding>
      <div layout-gt-sm="row">
        <span>
          <img class="product-detail-logo" ng-src=""></img>
        </span>
        <md-input-container class="md-block" flex-gt-sm>
          <label>个人信息</label>
          <input ng-model="credit_people.personal_description" />
        </md-input-container>

      </div>
    </md-content>
  </div>
  <div class="c-product-detail-view">
    <md-content layout-padding>
      <div layout-gt-sm="row">
        <span>
          <img class="product-detail-logo" ng-src=""></img>
        </span>
        <md-input-container class="md-block" flex-gt-sm>
          <label>业务详情</label>
          <input ng-model="credit_people.business_description" />
        </md-input-container>

      </div>
    </md-content>
  </div>
</div>