<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <div layout="row">
      <p class="title">产品详情</p>
    </div>
    <div layout="row">
      <md-button class="md-primary md-raised md-hue-2" id="qiniu-upload-test-button">上传logo</md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="updateProduct($event)">保存</md-button>
    </div>
  </div>

  <div class="c-product-detail-view">
    <md-content layout-padding>
      <div layout-gt-sm="row">
        <span>
          <img class="product-detail-logo" ng-src="{{product.logo}}"></img>
        </span>
        <md-input-container class="md-block" flex-gt-sm>
          <label>产品名称</label>
          <input ng-model="product.name" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>产品描述</label>
          <input ng-model="product.description" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>申请成功率</label>
          <input ng-model="product.apply_success_percent" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>申请人数</label>
          <input ng-model="product.apply_people_count" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>利率（日）</label>
          <input ng-model="product.fee_cost_per_day" />
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>机构连接（http://....）</label>
          <input ng-model="product.organization_url" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>最长下款时间</label>
          <input ng-model="product.longest_time" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>最小贷款额度</label>
          <input ng-model="product.min_limit" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>最大贷款额度</label>
          <input ng-model="product.max_limit" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>参考每日费用</label>
          <input ng-model="product.refer_cost_per_day" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>风控代码：</label>
          <input ng-model="product.risk_codes" />
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>下款率</label>
          <input ng-model="product.str1" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>最快下款</label>
          <input ng-model="product.str2" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>产品标签（英文逗号分隔）</label>
          <input ng-model="product.str3" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>金额</label>
          <input ng-model="product.str4" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>期限</label>
          <input ng-model="product.str5" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>所需材料（英文逗号分隔）</label>
          <input ng-model="product.str6" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>申请条件（英文逗号分隔）</label>
          <input ng-model="product.str7" />
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>费用说明（月费率）</label>
          <input ng-model="product.str8" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>费用说明（说明）</label>
          <input ng-model="product.str9" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>还款方式</label>
          <input ng-model="product.str10" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>提前还款</label>
          <input ng-model="product.str11" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>逾期政策</label>
          <input ng-model="product.str12" />
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>排序金额(大的在前面)</label>
          <input ng-model="product.str13" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>排序下款时间(小的在前面)</label>
          <input ng-model="product.str14" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>排序成本(小的在前面)</label>
          <input ng-model="product.str15" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>排序信用卡标签(有填1)</label>
          <input ng-model="product.str16" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>黑户可贷平台（有填1）</label>
          <input ng-model="product.str17" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>本周新上产品（有填1）</label>
          <input ng-model="product.str18" />
        </md-input-container>
      </div>
      <!-- <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <div>费用说明</div>
          <div text-angular ng-model="product.fee_info"></div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <div>申请要求</div>
          <div text-angular ng-model="product.apply_info"></div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <div>其他说明</div>
          <div text-angular ng-model="product.other_info"></div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <div>申请攻略</div>
          <div text-angular ng-model="product.apply_strategy"></div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <div>微信产品详情</div>
          <div text-angular ng-model="product.wechat_detail_info"></div>
        </md-input-container>
      </div> -->

    </md-content>
  </div>
</div>