<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">产品列表</p>
    <md-button class="md-primary md-raised md-hue-2" ng-click="goDetail()">创建产品</md-button>
  </div>

  <div class="list-header">
    <div class="list-item" layout="row" layout-align="start center">
      <div class="column-item" flex="">产品logo</div>
      <div class="column-item" flex="">产品名称</div>
      <div class="column-item" flex="">批款额度</div>
      <div class="column-item" flex="">下款条件</div>
      <div class="column-item" flex="">下款时间</div>
      <div class="column-item" flex="">征信记录</div>
      <div class="column-item" flex=""></div>
    </div>
  </div>
  <div class="list-body">
    <div class="list-item" layout="row" layout-align="start center" ng-repeat=" product in product_list">
      <div class="column-item" flex="">
        <img ng-src="{{product.logo}}"></img>
      </div>
      <div class="column-item" flex="">{{product.name}}</div>
      <div class="column-item" flex="">{{product.min_limit}}-{{product.max_limit}}</div>
      <div class="column-item" flex="">test</div>
      <div class="column-item" flex="">{{product.longest_time}}</div>
      <div class="column-item" flex="">test</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        <md-button class="md-primary" ng-click="goDetail(product._id)">详情
        </md-button>
      </div>
    </div>
  </div>
</div>