<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">用户列表</p>
    <div layout="row">
      <md-button class="md-primary md-raised md-hue-2" ng-click="userListByConditionStatuses(['daikuan'])">待放款vip用户
      </md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="userListByConditionStatuses(['giveup','refuse'])">已拒绝vip用户
      </md-button>

      <md-button class="md-primary md-raised md-hue-2" ng-click="vip_sort()">VIP排序
      </md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="all()">所有用户
      </md-button>
    </div>
  </div>

  <div class="list-header">
    <div class="list-item" layout="row" layout-align="start center">
      <div class="column-item" flex="">注册时间</div>
      <div class="column-item" flex="">用户名</div>
      <div class="column-item" flex="">用户姓名</div>
      <div class="column-item" flex="">用户手机</div>
      <div class="column-item" flex="">上一级</div>
      <div class="column-item" flex="">上二级</div>
      <div class="column-item" flex="">下级客户数</div>
      <div class="column-item" flex="">下二级客户数</div>
      <div class="column-item" flex="">是否vip支付</div>
      <div class="column-item" flex="">vip支付时间</div>
      <div class="column-item" flex="">vip审核状态</div>

      <div class="column-item" flex="">标签9</div>
      <div class="column-item" flex="">标签10</div>
      <div class="column-item" flex="">标签11</div>
      <div class="column-item" flex="">标签13</div>
      
      <div class="column-item" flex=""></div>
    </div>
  </div>
  <div class="list-body">
    <div class="list-item" layout="row" layout-align="start center" ng-repeat=" user in user_list">
        
      <div class="column-item" flex="">{{user.create_time| date:"yyyy-MM-dd hh:mm"}}</div>
      <div class="column-item" flex="">{{user.username}}</div>
      <div class="column-item" flex="">{{user.real_name}}</div>
      <div class="column-item" flex="">{{user.real_phone}}</div>
      <div class="column-item" flex="">{{user.parent}}</div>
      <div class="column-item" flex="">{{user.top_parent}}</div>
      <div class="column-item" flex="">{{user.first_child_count}}</div>
      <div class="column-item" flex="">{{user.second_child_count}}</div>
      <div class="column-item" flex="">{{user.vip_payed?'已支付':'未支付'}}</div>
      <div class="column-item" flex="">{{user.vip_payed?(user.vip_payed_time| date:"yyyy-MM-dd hh:mm:ss") :'-'}}</div>
      <div class="column-item" flex="">{{getVipStatus(user.vip_status)}}</div>
      <div class="column-item" flex="">{{user.str9}}</div>
      <div class="column-item" flex="">{{user.str10}}</div>
      <div class="column-item" flex="">{{user.str11}}</div>
      <div class="column-item" flex="">{{user.str13}}</div>
      
      <div class="column-item" flex="" layout="row" layout-align="start start">
        <md-button class="md-primary" ng-click="goDetail(user)">详情
        </md-button>
      </div>
    </div>
  </div>
</div>