.c-filter-area {
  padding-top: 50px;
  background-color: #fbfcff;
}
.c-filter-area .c-center-area {
  background-color: white;
  border: 1px solid #e7e7e7;
}
.c-filter-area .c-center-area .c-filter-container {
  padding: 0px 60px;
}
.c-filter-area .c-center-area .c-filter-container .c-filter-area-header {
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
}
.c-filter-area .c-center-area .c-filter-container .c-filter-area-header .clear-filter {
  font-size: 12px;
  color: #4886ff;
  line-height: 80px;
  float: right;
}
.c-filter-area .c-center-area .c-filter-container .c-filter-area-body {
  padding: 20px 0px;
}
.c-filter-area .c-center-area .c-filter-container .c-filter-area-body .c-filter-row {
  line-height: 40px;
  display: inline-block;
}
.c-filter-area .c-center-area .c-filter-container .c-filter-area-body .c-filter-row .filter-title {
  width: 120px;
  font-size: 14px;
  float: left;
}
.c-filter-area .c-center-area .c-filter-container .c-filter-area-body .c-filter-row .filter-item {
  font-size: 12px;
  width: 120px;
  float: left;
  cursor: pointer;
}
.c-filter-area .c-center-area .c-filter-area-footer {
  line-height: 70px;
  border-top: 1px solid #e7e7e7;
  text-align: center;
}
.c-filter-area .c-center-area .c-filter-area-footer .c-filter-btn {
  width: 120px;
  line-height: 30px;
  border-radius: 4px;
  background-color: #4886ff;
  color: white;
}
.c-filter-area .c-list-area {
  margin-top: 20px;
  margin-bottom: 20px;
}
.c-filter-area .c-list-area .c-list-header {
  overflow: hidden;
  line-height: 50px;
  padding: 0px 60px;
  background-color: #fcfcfc;
}
.c-filter-area .c-list-area .c-list-row-container {
  padding: 10px 60px;
  border-bottom: 1px solid #e7e7e7;
}
.c-filter-area .c-list-area .c-list-row {
  height: 80px;
  line-height: 80px;
}
.c-filter-area .c-list-area .c-col-item {
  font-size: 12px;
  width: 130px;
  float: left;
}
.c-filter-area .c-list-area .c-col-item.width180 {
  width: 180px;
}
.c-filter-area .c-list-area .c-col-item.width80 {
  width: 80px;
}
.c-filter-area .c-list-area .c-col-item.width60 {
  width: 60px;
}
.c-filter-area .c-list-area .c-col-item .item-photo {
  background-color: #4886ff;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
.c-filter-area .c-list-area .c-col-item .item-name {
  margin-top: 10px;
  width: 50px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.c-filter-area .c-list-area .c-col-item .col-item-btn {
  width: 60px;
  line-height: 30px;
  border-radius: 4px;
  background-color: #4886ff;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
.c-filter-area .c-list-footer-area {
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
}
.c-filter-area .c-list-footer-area .list-footer-btn {
  width: 60px;
  margin-left: 20px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  background-color: white;
  color: #9b9b9b;
  border: 1px solid #e7e7e7;
}
