<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="libs/bootstrap/dist/bootstrap.min.css" />
  <link rel="stylesheet" href="c_platform/css/index.client.style.css" />
  <link rel="stylesheet" href="c_platform/css/city_select.client.style.css" />
  <script src="libs/jquery/dist/jquery.js"></script>
  <!-- <script src="c_platform/controllers/product_list.client.controller.js"></script> -->
</head>

<body>
  <% include ../../c_platform/views/header.client.view.html %>
    <div class="c-center-area city-select-area">
      <div class="c-select-title">
        请正确选择所在城市
      </div>
      <div class="c-city-row">
        <p class="city-key">当前城市</p>
        <a class="city-value">
          <%=city%>
        </a>
      </div>
      <div class="c-city-row">
        <p class="city-key">热门城市</p>
        <a href="/page/index/上海" class="city-value">上海</a>
        <a href="/page/index/重庆" class="city-value">重庆</a>
        <a href="/page/index/北京" class="city-value">北京</a>
        <a href="/page/index/天津" class="city-value">天津</a>
      </div>

      <% for(var i=0;i<provinces.length;i++){%>
        <div class="c-city-container">
          <div class="c-city-row">
            <p class="city-key">
              <%=provinces[i].name%>
            </p>
            <% for(var j=0; j<provinces[i].citys.length;j++){%>
              <a href="/page/index/<%=provinces[i].citys[j]%>" class="city-value">
                <%=provinces[i].citys[j]%>
              </a>
              <%}%>
          </div>
        </div>
      <%}%>


          <!-- <div class="c-city-container">
        <div class="c-city-row">
          <p class="city-key">热门城市</p>
          <a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a>
        </div>
      </div>
      <div class="c-city-container">
        <div class="c-city-row">
          <p class="city-key">热门城市</p>
          <a href="上海" class="city-value">上海</a>
          <a href="上海" class="city-value">重庆</a>
          <a href="上海" class="city-value">北京</a>
          <a href="上海" class="city-value">天津</a>
        </div>
      </div>
      <div class="c-city-container">
        <div class="c-city-row">
          <p class="city-key">热门城市</p>
          <a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a><a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a><a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a><a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a><a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a>
        </div>
      </div>
      <div class="c-city-container">
        <div class="c-city-row">
          <p class="city-key">热门城市</p>
          <a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a><a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a><a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a><a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a><a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a><a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a><a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a><a class="city-value">上海</a>
          <a class="city-value">重庆</a>
          <a class="city-value">北京</a>
          <a class="city-value">天津</a>
        </div>
      </div> -->
    </div>

    <% include ../../c_platform/views/footer.client.view.html %>
</body>

</html>