<div class="c-footer-area">
        <div class="c-center-area">
          <div class="c-footer-container">
            <div class="c-footer-item">
              <a class="footer-title">关于我们</a>
              <a class="footer-sub-title">公司简介</a>
              <a class="footer-sub-title">诚聘英才</a>
              <a class="footer-sub-title">企业文化</a>
            </div>
          </div>
          <div class="c-footer-container">
            <div class="c-footer-item">
              <a class="footer-title">关于我们</a>
              <a class="footer-sub-title">公司简介</a>
              <a class="footer-sub-title">诚聘英才</a>
              <a class="footer-sub-title">企业文化</a>
            </div>
          </div>
          <div class="c-footer-container">
            <div class="c-footer-item">
              <a class="footer-title">关于我们</a>
              <a class="footer-sub-title">公司简介</a>
              <a class="footer-sub-title">诚聘英才</a>
              <a class="footer-sub-title">企业文化</a>
            </div>
          </div>
          <div class="c-footer-container">
            <div class="c-footer-item">
              <a class="footer-title">关于我们</a>
              <a class="footer-sub-title">公司简介</a>
              <a class="footer-sub-title">诚聘英才</a>
              <a class="footer-sub-title">企业文化</a>
            </div>
          </div>
          <div class="c-footer-container">
            <div class="c-footer-item">
              <a class="footer-title">关于我们</a>
              <a class="footer-sub-title">公司简介</a>
              <a class="footer-sub-title">诚聘英才</a>
              <a class="footer-sub-title">企业文化</a>
            </div>
          </div>
        </div>
      </div>