<div class="c-top-header-area">
  <div class="c-center-area">
    <a class="c-signin">登录</a>
    <a class="c-signup">注册</a>
  </div>
</div>
<div class="c-header-area">
  <div class="c-center-area">
    <img src="../c_platform/images/logo.png" class="c-logo-image">
    <a href="/page/city_select" class="c-logo">切换城市:
          <%=city%>
        </a>
    <a class="c-title">问答百科</a>
    <a class="c-title">咨询策略</a>
    <a class="c-title">信用卡</a>
    <a class="c-title">线下贷款</a>
    <a href="/page/product_list" class="c-title">信用贷款</a>
    <a href="/" class="c-title">首页</a>
  </div>
</div>