<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../c_platform/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_platform/css/home.client.style.css" />
  <script src="../libs/jquery/dist/jquery.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <% include ../../c_platform/views/header.client.view.html %>
    
  <div class="c-banner-area">
    <div class="c-center-area">
      <div class="c-banner-left">
        <div class="c-banner-left-title">
          <div class="c-title-left">贷款搜索</div>
          <div class="c-title-right">信用卡</div>
        </div>
        <div class="c-banner-left-content">
          <div class="c-content-title">贷款类型</div>
          <div class="c-content-value">
            <select class="c-select" onchange="this.blur()">
          <option value="1">信用贷款</option>
          <option value="2">消费贷款</option>
        </select>
          </div>
          <div class="c-content-title">贷款用途</div>
          <div class="c-content-value">
            <select class="c-select">
          <option class="c-select-item" value="1">信用贷款</option>
          <option class="c-select-item"  value="2">消费贷款</option>
        </select>
          </div>
          <div class="c-content-title">贷款期限</div>
          <div class="c-content-value">
            <select class="c-select">
            <option class="c-select-item"  value="1">信用贷款</option>
            <option class="c-select-item"  value="2">消费贷款</option>
          </select>
          </div>
          <a href="/page/product_list" class="c-content-btn">
            搜索
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="c-credit-type-area">
    <div class="c-center-area">
      <div class="c-credit-type-item">
        <img src="../c_platform/images/home/card_type/1.png"  class="type-item-photo"></img>
        <div class="type-item-text">信用贷款</div>
      </div>
      <div class="c-credit-type-item">
        <img src="../c_platform/images/home/card_type/2.png"  class="type-item-photo"></img>
        <div class="type-item-text">上班族贷款</div>
      </div>
      <div class="c-credit-type-item">
        <img src="../c_platform/images/home/card_type/3.png"  class="type-item-photo"></img>
        <div class="type-item-text">闪电小额贷</div>
      </div>
      <div class="c-credit-type-item">
        <img src="../c_platform/images/home/card_type/4.png"  class="type-item-photo"></img>
        <div class="type-item-text">抵押贷款</div>
      </div>
      <div class="c-credit-type-item">
        <img src="../c_platform/images/home/card_type/5.png"  class="type-item-photo"></img>
        <div class="type-item-text">购车贷款</div>
      </div>
    </div>
  </div>
  <div class="c-credit-content-area">
    <div class="c-area-title">贷款专区</div>
    <div class="c-area-sub-title">无抵押、无担保、极速放款、借款方式更灵活</div>
    <div class="c-center-area">
      <div class="c-credit-content-item-container">
        <div class="c-credit-content-item origin">
          <div class="content-title">恒昌-工薪贷</div>
          <div class="content-number">2.38%</div>
          <div class="content-descrption">参考月利率</div>
          <div class="content-remark">无抵押|放贷快|0担保</div>
          <div class="content-footer">
            <button class="content-btn">查看详情</button>
          </div>
        </div>
      </div>
      <div class="c-credit-content-item-container center">
        <div class="c-credit-content-item red">
          <div class="content-title">恒昌-工薪贷</div>
          <div class="content-number">2.38%</div>
          <div class="content-descrption">参考月利率</div>
          <div class="content-remark">无抵押|放贷快|0担保</div>
          <div class="content-footer">
            <button class="content-btn">查看详情</button>
          </div>
        </div>
      </div>
      <div class="c-credit-content-item-container">
        <div class="c-credit-content-item green">
          <div class="content-title">恒昌-工薪贷</div>
          <div class="content-number">2.38%</div>
          <div class="content-descrption">参考月利率</div>
          <div class="content-remark">无抵押|放贷快|0担保</div>
          <div class="content-footer">
            <button class="content-btn">查看详情</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-hot-bank-area">
    <div class="c-area-title">热门发卡银行</div>
    <div class="c-area-sub-title">各大银行分发的信用卡，种类繁多到让您眼花缭乱</div>
    <div class="c-center-area">
      <div class="hot-bank-container">
        <img src="../c_platform/images/home/bank_type/光大.png" class="bank-photo" /></img>
        <div class="bank-text">
          <span class="number">120</span> 
          /
          <span class="text">款</span> 
        </div>
      </div>
      <div class="hot-bank-container">
        <img src="../c_platform/images/home/bank_type/建设.png" class="bank-photo">
        </img>
        <div class="bank-text">
          <span class="number">120</span> 
          /
          <span class="text">款</span> 
        </div>
      </div>
      <div class="hot-bank-container">
        <img src="../c_platform/images/home/bank_type/中国.png" class="bank-photo">
        </img>
        <div class="bank-text">
           <span class="number">120</span> 
          /
          <span class="text">款</span> 
        </div>
      </div>
      <div class="hot-bank-container">
        <img src="../c_platform/images/home/bank_type/中信.png" class="bank-photo">
        </img>
        <div class="bank-text">
           <span class="number">120</span> 
          /
          <span class="text">款</span> 
        </div>
      </div>
    </div>
  </div>
  <div class="c-hot-credit-card-area">
    <div class="c-area-title">热门信用卡</div>
    <div class="c-area-sub-title">255家 银行和金融机构授权合作</div>
    <div class="c-center-area">
      <div class="area-left">
        <a class="area-left-article">【交通银行标准信用卡】白金卡刷0笔</a>
        <a class="area-left-article">【交通银行标准信用卡】白金卡刷0笔</a>
        <a class="area-left-article">【交通银行标准信用卡】白金卡刷0笔</a>
        <a class="area-left-article">【交通银行标准信用卡】白金卡刷白金卡刷白金卡刷0笔</a>
        <a class="area-left-article">【交通银行标准信用卡】白金卡刷0笔</a>
        <a class="area-left-article">【交通银行标准信用卡】白金卡刷0笔</a>
        <a class="area-left-article">【交通银行标准信用卡】白金卡刷0笔</a>
        <a class="area-left-article">【交通银行标准信用卡】白金卡刷0笔</a>
        <a class="area-left-article">【交通银行标准信用卡】白金卡刷0笔</a>
        <a class="area-left-article">【交通银行标准信用卡】白金卡刷0笔</a>
        <button class="area-left-btn">查看更多</button>
      </div>
    </div>
  </div>
  <div class="c-day-advice-area">
    <div class="c-area-title">潮钱每天分享一手咨询</div>
    <div class="c-area-sub-title">这里有罪丰富行业资讯，您想要的都在这里可以找到</div>

    <div class="c-center-area">
      <div class="day-advice-container">
        <div class="day-advice-item">
          <div class="advice-item-left"></div>
          <div class="advice-item-right">
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
          </div>
        </div>
      </div>
      <div class="day-advice-container right">
        <div class="day-advice-item">
          <div class="advice-item-left"></div>
          <div class="advice-item-right">
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
          </div>
        </div>
      </div>
      <div class="day-advice-container">
        <div class="day-advice-item">
          <div class="advice-item-left"></div>
          <div class="advice-item-right">
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
          </div>
        </div>
      </div>
      <div class="day-advice-container right">
        <div class="day-advice-item">
          <div class="advice-item-left"></div>
          <div class="advice-item-right">
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
            <a class="advice-article">这里有罪丰富行业资讯，您想要的都在这里可以找到</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-search-area">
    <div class="c-center-area">
      <div class="c-search-area-header">
        <input class="search-input" placeholder="请输入您想要输入的问题"><button class="search-btn">搜</button>
      </div>
      <div class="c-search-area-body">
        <div class="c-search-area-row">
          <div class="search-row-icon">问</div>
          <div class="search-row-title">潮钱app提交了贷款，多久能通过？</div>
        </div>
        <div class="c-search-area-row">
          <div class="search-row-icon">问</div>
          <div class="search-row-title">潮钱app提交了贷款，多久能通过？</div>
        </div>
        <div class="c-search-area-row">
          <div class="search-row-icon">问</div>
          <div class="search-row-title">潮钱app提交了贷款，多久能通过？</div>
        </div>
        <div class="c-search-area-row">
          <div class="search-row-icon">问</div>
          <div class="search-row-title">潮钱app提交了贷款，多久能通过？</div>
        </div>
        <div class="c-search-area-row">
          <div class="search-row-icon">问</div>
          <div class="search-row-title">潮钱app提交了贷款，多久能通过？</div>
        </div>
        <div class="c-search-area-row">
          <div class="search-row-icon">问</div>
          <div class="search-row-title">潮钱app提交了贷款，多久能通过？</div>
        </div>
      </div>
    </div>
  </div>

  <% include ../../c_platform/views/footer.client.view.html %>
  
</body>

</html>