body {
  background-color: white;
  -webkit-overflow-scrolling: touch;
  color: #333;
}
.card-header {
  display: flex;
  flex-direction: row;
  background-color: #1B1A1F;
  font-size: 18px;
}
.card-header .header-item {
  display: blockl;
  text-align: center;
  line-height: 50px;
  width: 50%;
  opacity: 0.5;
  color: white;
  margin-bottom: 1px;
}
.card-header .header-item.select {
  opacity: 1;
  border-bottom: 4px solid white;
}
.page-me-achievement .list {
  padding-left: 15px;
}
.page-me-achievement .list .list-item {
  border-bottom: 1px solid #ccc;
  padding: 15px 15px 15px 0px;
}
.page-me-achievement .list .list-item .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
}
.page-me-achievement .list .list-item .header .type {
  height: 20px;
  width: 60px;
  line-height: 20px;
  font-size: 12px;
  border-radius: 10px;
  text-align: center;
  margin-right: 13px;
}
.page-me-achievement .list .list-item .header .type.yellow {
  background-color: #FED953;
}
.page-me-achievement .list .list-item .header .type.blue {
  color: white;
  background-color: #30AEFF;
}
.page-me-achievement .list .list-item .header .type.red {
  color: white;
  background-color: #E7372D;
}
.page-me-achievement .list .list-item .header .text {
  font-size: 16px;
}
.page-me-achievement .list .list-item .body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.page-me-achievement .list .list-item .body .body-item {
  flex-grow: 1;
  text-align: center;
}
.page-me-achievement .list .list-item .body .body-item .title {
  font-size: 12px;
  color: #999;
  margin-bottom: 4px;
}
.page-me-achievement .list .list-item .body .body-item .text {
  line-height: 20px;
  font-size: 14px;
}
.page-me-achievement .list .list-item .body .border {
  border-left: 1px solid #D8D8D8;
  height: 15px;
}
