body {
  background-color: #f2f2f2;
  -webkit-overflow-scrolling: touch;
  color: #333;
}
.page-me-agent .card-header {
  display: flex;
  flex-direction: row;
  background-color: #1B1A1F;
  font-size: 18px;
}
.page-me-agent .card-header .header-item {
  display: blockl;
  text-align: center;
  line-height: 50px;
  width: 50%;
  opacity: 0.5;
  color: white;
  margin-bottom: 1px;
}
.page-me-agent .card-header .header-item.select {
  opacity: 1;
  border-bottom: 4px solid white;
}
.page-me-agent .agent-header {
  background-color: #1A191D;
  padding-top: 25px;
}
.page-me-agent .agent-header .header-title {
  font-size: 24px;
  color: #FFD591;
  text-align: center;
  line-height: 33px;
  margin-bottom: 30px;
}
.page-me-agent .agent-header .header-content {
  display: flex;
  flex-direction: row;
}
.page-me-agent .agent-header .header-content .content-item {
  width: 50%;
  text-align: center;
}
.page-me-agent .agent-header .header-content .content-item .title {
  font-size: 14px;
  color: white;
  opacity: 0.8;
  line-height: 20px;
  margin-bottom: 5px;
}
.page-me-agent .agent-header .header-content .content-item .value {
  font-size: 16px;
  color: #FFD591;
  line-height: 22px;
  margin-bottom: 30px;
}
.page-me-agent .agent-body {
  background-color: white;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
}
.page-me-agent .agent-body .body-title {
  line-height: 20px;
  text-align: center;
  color: #999;
  opacity: 0.8;
  margin: 12px auto;
}
.page-me-agent .agent-body .body-code {
  width: 120px;
  height: 120px;
  margin: auto;
  margin-bottom: 20px;
}
.page-me-agent .agent-body .body-row {
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  border-bottom: 1px solid #CFCED2;
  font-size: 16px;
}
.page-me-agent .agent-body .body-row .left {
  color: #333333;
}
.page-me-agent .agent-body .body-row .right {
  text-align: right;
  color: #999;
}
.page-me-agent .agent-body .body-footer {
  padding: 15px;
  display: flex;
  flex-direction: row;
}
.page-me-agent .agent-body .body-footer .dot {
  width: 8px;
  height: 8px;
  background-color: #F3455A;
  border-radius: 90px;
  margin-right: 7px;
  margin-top: 4px;
}
.page-me-agent .agent-body .body-footer .text {
  font-size: 12px;
  color: #666;
  line-height: 17px;
}
.page-me-agent .agent-list {
  background-color: white;
}
.page-me-agent .agent-list .list-title {
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #CFCED2;
  height: 44px;
}
.page-me-agent .agent-list .list-title .boder {
  width: 6px;
  height: 20px;
  background-color: #F3455A;
  margin-right: 15px;
}
.page-me-agent .agent-list .list-title .text {
  font-size: 16px;
}
.page-me-agent .agent-list .list-item {
  margin-left: 15px;
  padding: 10px 15px 10px 0px;
  border-bottom: 1px solid #CFCED2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page-me-agent .agent-list .list-item .icon {
  height: 60px;
  width: 60px;
  border-radius: 90px;
  color: white;
  margin-right: 15px;
  font-size: 14px;
  text-align: center;
  padding: 10px 5px;
}
.page-me-agent .agent-list .list-item .icon.green {
  background-color: #8BD738;
}
.page-me-agent .agent-list .list-item .icon.red {
  background-color: #FF6259;
}
.page-me-agent .agent-list .list-item .icon.light-green {
  background-color: #648E34;
}
.page-me-agent .agent-list .list-item .icon.light-blue {
  background-color: #6298F6;
}
.page-me-agent .agent-list .list-item .icon.blue {
  background-color: #30AEFF;
}
.page-me-agent .agent-list .list-item .item-left {
  flex-grow: 1;
  font-size: 16px;
  line-height: 24px;
}
.page-me-agent .agent-list .list-item .item-right {
  line-height: 24px;
  text-align: right;
  font-size: 16px;
  flex-grow: 1;
}
.page-me-agent .agent-list .list-item .item-right .title {
  color: #FF6259;
}
.page-me-agent .agent-list .list-item .item-right .value {
  font-size: 14px;
  color: #3F3F3F;
}
.page-me-agent .agent-footer .footer-title {
  font-size: 16px;
  color: #F3455A;
  text-align: center;
  margin: 18px auto;
}
.page-me-agent .agent-footer .footer-content {
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
}
.page-me-agent .agent-footer .footer-content .dot {
  width: 8px;
  height: 8px;
  background-color: #F3455A;
  border-radius: 90px;
  margin-right: 7px;
  margin-top: 4px;
}
.page-me-agent .agent-footer .footer-content .text {
  font-size: 12px;
  color: #666;
  line-height: 17px;
  margin-bottom: 30px;
}
