.page-home {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 50px;
  font-size: 16px;
}
.page-home .swiper-container {
  width: 100%;
  height: 200px;
}
.page-home .swiper-container img {
  width: 100%;
}
.page-home .home-apply-btn {
  width: 280px;
  margin: 10px auto 10px auto;
  line-height: 40px;
  background-color: #f24659;
  display: block;
  color: white;
  text-align: center;
  border-radius: 90px;
}
.page-home .home-apply-text {
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
}
.page-home .home-bottom {
  padding: 0px 5px;
}
.page-home .home-bottom .item {
  margin: 5px;
  display: block;
  border: 0.5px solid #cccccc;
  text-align: center;
  min-height: 140px;
}
.page-home .home-bottom .item .icon {
  margin: 5px auto 0px auto;
  width: 46px;
}
.page-home .home-bottom .item .description {
  font-size: 12px;
  width: 150px;
  color: #979797;
  margin: auto;
}
