body {
  background-color: #f2f2f2;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
}
.header {
  /* 标准的语法（必须放在最后） */
  overflow: hidden;
}
.header .card-container {
  margin: 10px 20px;
  position: relative;
}
.header .card-container .price {
  position: absolute;
  top: 11%;
  color: white;
  font-size: 50px;
  left: 3%;
}
.header .card-container .code {
  position: absolute;
  bottom: 14%;
  color: white;
  font-size: 12px;
  left: 3%;
}
.header .card-container .code span {
  opacity: .5;
}
.header .card-container .code a {
  color: white;
}
.header .header-detail {
  -moz-box-shadow: 0px 1px 13px #999;
  -webkit-box-shadow: 0px 1px 13px #999;
  box-shadow: 0px 1px 13px #999;
  background-color: white;
  border-radius: 10px;
  margin: 10px 20px;
}
.header .header-detail .detail-row {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.header .header-detail .detail-row:first-child {
  border-bottom: 0.5px solid #efefef;
}
.header .header-detail .detail-row .row-item {
  text-align: center;
  flex-grow: 1;
}
.header .header-detail .detail-row .row-item .title {
  color: #999;
  line-height: 50px;
  font-size: 18px;
}
.header .header-detail .detail-row .row-item .value {
  color: #fd7a00;
  font-size: 20px;
  line-height: 30px;
}
.header .header-detail .title {
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
.header .header-detail .plan-row {
  color: #999;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.header .header-detail .plan-row .plan-item {
  padding: 15px 30px;
  width: 50%;
  flex-grow: 1;
}
.header .header-detail .plan-row .plan-item .price {
  color: #fd7a00;
  font-size: 20px;
}
.footer {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}
.footer .report-btn {
  background: -webkit-linear-gradient(left, #fdb42a, #fd7a00);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, #fdb42a, #fd7a00);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, #fdb42a, #fd7a00);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(left, #fdb42a, #fd7a00);
  /* 标准的语法（必须放在最后） */
  color: white;
  border-radius: 45px;
  text-align: center;
  width: 60%;
  line-height: 40px;
}
.footer .report-btn.left {
  margin-right: 10px;
}
.footer .report-btn.right {
  margin-left: 10px;
}
.panel {
  padding: 15px 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}
.panel.column {
  flex-direction: column;
  align-items: center;
}
.panel.column .panel-title {
  height: 30px;
  color: #a02de5;
  font-size: 12px;
  line-break: 20px;
}
.panel.column .report-btn {
  width: 100%;
  background: -webkit-linear-gradient(left, #a02de5, #5408fb);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, #a02de5, #5408fb);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, #a02de5, #5408fb);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(left, #a02de5, #5408fb);
  /* 标准的语法（必须放在最后） */
}
.page-result-panel {
  padding: 0px 15px 15px 15px;
  background-color: white;
}
.page-result-panel::before {
  border-bottom: 0.5px solid #e5e5e5;
}
.page-result-panel .panel-title {
  font-size: 14px;
  line-height: 40px;
}
.page-result-panel .panel-content {
  padding-left: 20px;
  position: relative;
}
.page-result-panel .panel-content .icon {
  background-color: #fd7a00;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 6px;
  border-radius: 90px;
}
.page-result-panel .panel-content .text {
  color: #999;
  line-height: 20px;
}
.weui-panel__bd .weui-media-box__hd {
  width: 100px;
  background-color: #fb8252;
}
.weui-panel__bd .weui-media-box__bd .card-footer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}
.weui-panel__bd .weui-media-box__bd .card-footer .footer-left .left-item {
  color: #fb8252;
  border: 0.5px solid #fb8252;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #fef4ee;
  padding: 3px 10px;
}
.weui-panel__bd .weui-media-box__bd .card-footer .footer-right .number {
  color: #fd7a00;
}
