body {
  background-color: #f2f2f2;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
}
.page-result-center {
  background-color: white;
}
.page-result-center .title {
  line-height: 50px;
  font-size: 16px;
  border-bottom: 0.5px solid #efefef;
  position: relative;
  padding-left: 40px;
}
.page-result-center .title img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
}
.page-result-center .center-list {
  overflow: hidden;
}
.page-result-center .center-list .center-list-item {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 15px;
}
.page-result-center .center-list .center-list-item .icon {
  border-radius: 4px;
  width: 50px;
  height: 50px;
}
.page-result-center .center-list .center-list-item .name {
  line-height: 30px;
}
.panel-title {
  height: 40px;
  color: #5408fb;
  line-height: 40px;
  text-align: center;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.panel-title img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.footer {
  padding: 30px;
  background-color: #fe7a01;
  text-align: center;
  font-size: 20px;
}
.footer .tip {
  color: white;
}
.footer .time {
  color: #feff02;
}
