<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>优卡</title>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_wechat/css/index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/home.client.style.css" />
  
  <script src="https://cdn.bootcss.com/moment.js/2.22.1/moment.min.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.22.1/locale/zh-cn.js"></script>
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
</head>

<body>
  <div style="text-align: center;line-height: 200px;">三十天连续支付</div>
  <div href="javascript:;" class="weui-btn weui-btn_primary" style="margin:20px;">支付0.01元</div>
  <div class="weui-cells">
    
  </div>
</body>
<script>
  $(function () {
    var records = '<%- JSON.stringify( records) %>';
    records = JSON.parse(records);

    records.forEach(function (item) {
      $('.weui-cells"').append($(
      '  <div class="weui-cell">'+
      '    <div class="weui-cell__bd">'+
      '      <p>'+moment(item.create_time).format('YYYY-MM-DD HH:mm')+'</p>'+
      '    </div>'+
      '    <div class="weui-cell__hd"> ¥ '+item.content.cash_fee+'</div>'+
      '  </div>'
      ));
    })

    $('.weui-btn_primary').click(function () {
      get_pre_pay_id('', function () {
        window.location = window.location;
      });
    });
  });

</script>

</html>